<h2>Login</h2>

<form class="" ng-submit="$ctrl.login();">
  <div class="form-group row">
    <label class="col-md-2" for="Email">Email</label>
    <div class="col-md-4">
      <input class=" form-control" type="text" name="Email" id="Email" value="" ng-model="$ctrl.userEmail">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2" for="Password">Password</label>
    <div class="col-md-4">
      <input class=" form-control" type="text" name="Password" id="Password" value="" ng-model="$ctrl.userPassword">
    </div>
  </div>

  <button type="submit" class="btn btn-default">Login</button>
  <button type="button" class="btn btn-default" ui-sref="registration">Register</button>
</form>
